.container {
  margin: auto;
  max-width: 700px;
  font-family: Arial, Helvetica, sans-serif;
}
.heading {
  color: rgb(75, 16, 124);
  font-weight: 1000;
}
.nav-links {
  display: flex;
  list-style: none;
  padding-left: 0;
}
.nav-link-item {
  padding-right: 1rem;
}
.nav-link-text {
  color: rgb(128, 0, 128);
}
